html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto-Black";
}

/* Polices pour les titres et paragraphes */

@font-face {
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf") format("TrueType");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("fonts/Roboto-Medium.ttf") format("TrueType");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("fonts/Roboto-Black.ttf") format("TrueType");
}

@font-face {
    font-family: "Roboto-regular";
    src: url("fonts/Roboto-Regular.ttf") format("Truetype");
}

/* Partie header */

header {
    top: 0;
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 2;
}

.ancre {
    display: block;
    height: 100px;
    /*same height as header*/
    margin-top: -95px;
    /*same height as header*/
    visibility: hidden;
}

header nav {
    position: absolute;
    top: 20px;
    right: 150px;
}

li:hover a {
    color: black;
}

li:hover .trait_menu {
    position: relative;
    bottom: 55px;
    right: 10px;
    height: 5px;
    width: 80px;
    background-color: rgb(78, 177, 213);
}

header li {
    display: inline;
    width: 60px;
    padding-left: 45px;

}

a {
    text-decoration: none;
    font-family: "Roboto-Medium";
    color: #777c7c;
}

header img {
    padding-top: 5%;
    padding-left: 30%;
    height: 60px;
    width: auto;

}

#menu {
    display: flex;
}


/* Partie Accueil */

#accueil {
    height: 650px;
    margin-top: 100px;
}



.image_accueil {
    position: absolute;
    width: 100%;
}

.image_accueil img {
    width: 100%;
}

.contenu_accueil {
    position: absolute;
    width: 100%;
}

.bouton_infos {
    text-align: center;
    height: 40px;
    width: 150px;
    color: #fff;
    border: 0;
    font-size: 1em;
    border-radius: 3px;
    box-shadow: 0px 5px 0px #4494bb;
    background-color: rgb(92, 173, 211);
    cursor: pointer;
}


/* flèche slider */

.chevrons {
    display: flex;
    justify-content: space-between;
    padding-top: 15%;
    font-size: 1.2em;
    color: floralwhite;

}

.circle-left {
    position: relative;
    bottom: 60px;
    height: 90px;
    width: 45px;
    /* 2*height */
    background: black;
    opacity: 0.33;
    border-bottom-right-radius: 90px;
    /* 4*height */
    border-top-right-radius: 90px;
    /* 4*height */
}

.circle-right {
    position: relative;
    bottom: 60px;
    height: 90px;
    width: 45px;
    /* 2*height */
    background: black;
    opacity: 0.33;
    border-bottom-left-radius: 90px;
    /* 4*height */
    border-top-left-radius: 90px;
    /* 4*height */
}

.fas.fa-chevron-right {
    padding-left: 20px;
}



/*---------*/

.texte_accueil {
    position: absolute;
    padding-left: 10%;
    top: 70%;
}

.texte_accueil h1 {
    font-size: 2em;
    font-family: "Roboto-Bold";
    color: #ffffff;
}

.texte_accueil strong {
    color: #22b6e8;
}

.texte_accueil p {
    font-family: "Roboto-Regular";
    font-size: 1.1em;
    color: #ffffff;
}

#trait-slider {
    height: 5px;
    width: 100px;
    background-color: rgb(78, 177, 213);
    position: relative;
    bottom: 9px;
}

/* Partie Services */

#services {
    padding-top: 60px;
}

.titre_services {
    text-align: center;
    width: 35%;
    margin-left: 33%;
}

.titre_services h2 {
    font-size: 45px;
    font-family: "Roboto-Bold";
}

.block_line {
    display: flex;
    justify-content: center;
}

.trait {
    width: 150px;
    height: 1px;
    margin-bottom: 15px;
    background-color: rgb(235, 235, 235);
}

.trait i {
    width: 12px;
    font-size: 15px;
    background-color: white;
    color: rgb(78, 177, 213);
    border: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    bottom: 12px;
}

.titre_services p {
    font-family: "Roboto-Regular";
    color: #000000;
    padding-bottom: 2%;
    line-height: 200%;
}


.liste_services {
    display: flex;
}

.ordi {
    height: 350px;
    position: relative;
    left: 10%;
    margin-right: 5%;
}

.logo_services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo_services .circle {
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 1.8em;
    background-color: white;
    color: rgb(78, 177, 213);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 50%;
    position: relative;
    top: 10px;
}

.fas.fa-chart-line,
.fas.fa-cubes,
.fas.fa-chart-pie {
    position: absolute;
    top: 11px;
    right: 10px;
}

.logo_services .fas.fa-circle {
    font-size: 13px;
    background-color: white;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    left: 40px;
    color: rgb(92, 173, 211);
}

.liste_services ul,
.logo_services {
    position: relative;
    padding-top: 30px;
}

.liste_services ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.liste_services h3 {
    font-family: "Roboto-Black";
}

.liste_services p {
    font-family: "Roboto-Regular";
    color: #000000;
    width: 60%;
}


/* Partie Projets */

#projets {
    padding-top: 60px;
    background-color: rgb(245, 245, 245);
}

.titre_projets {
    text-align: center;
    text-align: center;
    width: 35%;
    margin-left: 33%;
}

.titre_projets h2 {
    padding-top: 15px;
    font-family: "Roboto-Black";
    font-size: 45px;
}

.titre_projets p {
    font-family: "Roboto-Regular";
    color: #000000;
    padding-bottom: 2%;
    line-height: 200%;
}


#boutons_projets {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}


#boutons_projets p {
    position: relative;

}

.bouton_projet,
.bouton_projet1,
.bouton_projet4 {
    list-style-type: none;
    height: 50px;
    width: 150px;
    text-align: center;
    color: rgb(100, 104, 109);
    font-size: 1em;
    font-family: "Roboto-Bold";
    background-color: rgb(229, 229, 229);
}

.bouton_projet1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bouton_projet4 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.bouton_projet:hover {
    background-color: rgb(92, 173, 211);
    color: rgb(230, 243, 248);
    box-shadow: 0px 5px 0px #4494bb;
}

.bouton_projet i {
    color: rgb(245, 245, 245);
    position: relative;
    font-size: 1.60em;
    bottom: 5px;
}

.bouton_projet:hover i {
    color: #4494bb;
}

.bouton_projet1 i {
    color: rgb(245, 245, 245);
    position: relative;
    font-size: 1.60em;
    bottom: 5px;
}

.bouton_projet1:hover i {
    color: #4494bb;
}

.bouton_projet4 i {
    color: rgb(245, 245, 245);
    position: relative;
    font-size: 1.60em;
    bottom: 5px;
}

.bouton_projet4:hover i {
    color: #4494bb;
}

.bouton_projet1:hover {
    background-color: rgb(92, 173, 211);
    color: rgb(230, 243, 248);
    box-shadow: 0px 5px 0px #4494bb;
}

.bouton_projet4:hover {
    background-color: rgb(92, 173, 211);
    color: rgb(230, 243, 248);
    box-shadow: 0px 5px 0px #4494bb;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    height: 233px;
    position: relative;
}

figure img {
    width: 350px;
}

figcaption {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    width: 350px;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.4s;
}

figure:hover figcaption {
    opacity: 1;
}

figure div {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 70px;
    right: 10px;
    background-color: rgb(70, 146, 177);
}

figure i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
}

figcaption h3 {
    margin-left: 15px;
    font-family: "Roboto-black";

}

figcaption p {
    position: relative;
    bottom: 10px;
    left: 15px;
    font-family: "Roboto-Regular";
}

/* Partie Contact */

#contact {
    position: relative;
}

iframe {
    height: 650px;
    box-sizing: border-box;
    width: 100%;
    opacity: 0.8;
}

#map {
    height: 650px;
    width: 100%;
    background-color: #0094ff;
}


.formulaire {
    position: absolute;
    background-color: rgb(235, 235, 235, 0.80);
    top: 70px;
    right: 80px;
    border-radius: 5px;
    height: 500px;
    width: 350px;
}

form {
    z-index: 1;
    text-align: center;
}

form h1 {
    font-family: "Roboto-Black";
    text-align: left;
    padding-left: 15px;
}

form p {
    font-family: "Roboto-Regular";
    font-size: 0.9em;
    text-align: left;
    padding-left: 15px;
}

#name,
#mail,
#subject {
    height: 25px;
}

#msg {
    height: 160px;
}

#name,
#mail,
#subject,
#msg {
    margin-bottom: 15px;
    border-radius: 3px;
    width: 310px;
    padding-left: 10px;
}

.bouton_submit {
    height: 30px;
    width: 120px;
    border: 0;
    position: relative;
    bottom: 10px;
    right: 100px;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    border-radius: 3px;
    box-shadow: 0px 5px 0px #4494bb;
    background-color: rgb(92, 173, 211);
    cursor: pointer;
}
